<h1 class="jumbotron">All Stocked Prints</h1>
<a href="admins/product"><h4>Add New Product</h4></a>

<% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <%= product.name %>
    <br>
    <%= product.artist %>
    <br>
    <hr>

    <a href="admins/product"><h4>Delete</h4></a>

    <hr>
    <br>
    <% end %>
<% end %>
